# Python Bytecode
__pycache__/
*.py[cod]
*$py.class

# DBT Target and Temporary Files inside the output folder
output/dbt_sample_project/target/
output/dbt_sample_project/dbt_modules/
output/dbt_sample_project/logs/
output/dbt_sample_project/.mypy_cache/
output/dbt_sample_project/.pytest_cache/

# DBT Configurations
output/dbt_sample_project/.dbt/
output/dbt_sample_project/profiles/

# Local Environment
.env
*.env

# System Files
.DS_Store
Thumbs.db

# Jupyter Notebook Checkpoints
.ipynb_checkpoints

# Compiled C extensions
*.so

# Packages
*.egg
*.egg-info
dist/
build/
eggs/
parts/
var/
sdist/
develop-eggs/
.installed.cfg

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Pyre type checker
.pyre/

# Mypy
.mypy_cache/

# Caches
*.mypy_cache/
*.pytest_cache/
*.hypothesis/
__pycache__/

# Backup files
*~